<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Ostoslista</title>
    	<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    	<meta charset="utf-8">
    	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" /> 
    	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css" /> 
    	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    	<script
    	src="https://code.jquery.com/jquery-3.2.1.min.js"
    	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    	crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="ui attached stackable inverted menu">
            <div class="ui container">
            <% if(currentUser) {%>
                <a href="/baskets" class="item"><i class="shopping basket icon"></i> Ostoskorit</a>
                <a href="/baskets/new" class="item">Uusi kori</a>
            <%}%>
            </div>
            <div class="right menu">
                <%if (!currentUser) {%>
                    <a href="/login" class="item">Login</a>
                    <a href="/register" class="item">Sign Up</a>
                <%} else {%>
                    <a href="/logout" class="item">Logout user <%=currentUser.username%></a>
                <%}%>
            </div>
        </div>

        <%if(error && error.length > 0) {%>
            <div class="ui container negative message">
              <p><%=error%></p>
            </div>    
        <%}%>
        <%if(success && success.length > 0) {%>
            <div class="ui container positive message">
              <p><%=success%></p>
            </div>
        <%}%>