<% include ./partials/header %>

<div class="ui raised very padded text container segment">
<form class="ui form" action="/register" method="post">
  <h1>Ostoskoripalvelu</h1>
  <h4 class="ui dividing header">Käyttäjän luonti / Sign Up</h4>
  <div class="field">
    <label>User Name</label>
    <input type="text" name="username" placeholder="username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" placeholder="password">
  </div>
  <button class="ui button" type="submit">Sign Up!</button>
</form>
</div>

<% include ./partials/footer %>