body {
	font-family: 'Roboto', sans-serif;

	background: #159957;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #155799, #159957);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #155799, #159957); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.basket-container h1 {
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: normal;
}

.basket-title input {
	font-size: 1.0em;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 90%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}

.basket-item input {
	font-size: 1.0em;
	color: #2980b9;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	border-style: solid;
	border-color: #2980b9;
	border-width: 0px 0px 3px 0px;
	box-sizing: border-box;
}

.basket-item input:focus{
	background: #fff;
	outline: none;
}

.basket-container {
	width: 300px;
	margin: 20px auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}



.basket-container ul {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 100%
}

.basket-container li {
	padding-left: 20px;
	background: #fff;
	height: 40px;
	line-height: 40px;
	color: #666;
}

.basket-container li:nth-child(2n){
	background: #f7f7f7;
}

.basket-container span {
	box-sizing: border-box;
	background: #e74c3c;
	padding-left: 20px;
	height: 40px;
	text-align: center;
	color: rgba(0,0,0,0);
	width: 40px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0.0;
	float: right;
}

.basket-container li:hover span {
	padding-left: 0px;
	color: white;
	opacity: 1.0;
}

.fa-plus {
	float: right;
}

.basket-item .completed, .completed {
	color: lightgray;
	text-decoration: line-through;
}
