<% include ../partials/header %>
<div class="basket-container">
	<div class="basket-title">
	<h1>
	    <input type="text" name="" value="<%=basket.title%>">
	    <i class="fa fa-plus"></i>
	</h1>
	</div>
	<div class="basket-item">
    	<input type="text" name="" placeholder="Lisää ostos">
    	<ul>
    	    <%for(var i = 0; i < basket.items.length; i++) {%>
                <li class="<%=basket.isDone[i]%>">
                    <span><i class='fa fa-window-close'></i> </span> <%=basket.items[i]%>
                </li>
            <%}%>

            
    	</ul>
	</div>
	<button class="ui violet basic big button post_edit_btn">Tallenna</button>
	<button class="ui violet basic big button post_delete_btn">Poista</button>
</div>

<div id="hidden_form_container" style="display:none;"></div> 
<input id="basket_id" type="text" name="" value=<%=basket._id%> style="display:none">
        
<% include ../partials/footer %>