<% include ../partials/header %>
<div class="ui main text container">
    <div class="ui segments">
        <div class="ui top inverted attached segment">
        <p>Ostoskorit / Baskets</p>
    </div>
    
    <div class="ui attached segment">
        <div class="ui divided items">

            <%baskets.forEach(function(basket) { %>
                <%if (currentUser && basket.author.id.equals(currentUser._id)) {%>
                    <div class="item">
                        <div class="content">
                            <a class="header" href="/baskets/<%=basket._id%>/edit"><%=basket.title%></a>
                            <div class="description">
                                <ul>
                                    <%for(var i = 0; i < Math.min(basket.items.length, 2); i++) {%>
                                        <li class="<%=basket.isDone[i]%>">
                                            <%=basket.items[i]%>
                                        </li>
                                    <%}%>
                                </ul>
                            </div>
                            <div class="meta">
                                <span><%=basket.created.toDateString()%></span>
                            </div>
                            <div class="extra">
                                <!--<a href="/baskets/<%=basket._id%>/edit">Avaa kori</a>-->
                            </div>
                        </div>
                    </div>
                <%}%>
            <%});%>
        </div>
    </div>
    </div>
</div>
<% include ../partials/footer %>