<% include ../partials/header %>
<div class="basket-container">
	<div class="basket-title">
	<h1>
	    <input type="text" name="" placeholder="Korin otsikko">
	    <i class="fa fa-plus"></i>
	</h1>
	</div>
	<div class="basket-item">
    	<input type="text" name="" placeholder="Lisää ostos">
    	<ul>
    	</ul>
	</div>
	<button class="ui violet basic big button post_create_btn">Tallenna</button>
</div>

<div id="hidden_form_container" style="display:none;"></div>        
        
<% include ../partials/footer %>